/* YUI 3.9.1 (build 5852) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,legend{color:#000}

html {
  overflow-y: scroll;
}

body {
  font-size: 13px;
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: #393836;
  background-color: #E7E7E7;
}

header {
  background-color: #2b2b2b;
  color: #9e9e9e;
  padding: 5px 10px 10px 10px;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.20);
  padding-top: 5px;
  text-align: center;
}

footer {
  margin-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #1d8dc4;
  text-decoration: none;
  border-bottom: 1px solid #adcad9;
}

a:hover {
  border-bottom: 1px solid #1d8dc4;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#settings-panel kbd {
  cursor: pointer;
}

#feedback {
  position: fixed;
  top: 10px;
  text-align: center;
  width: 100%;
}

.feedback-notify,
.feedback-error {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 3px 6px;
  font-size: 16px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.20);
}

.br-deny-btn,
.feedback-error {
  background-color: #C41E3A;
}

.br-accept-btn,
.feedback-notify {
  background-color: #00A550;
}

.hidden {
  display: none;
}

/* cfg menu button */
#cfg-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
}

#cfg-btn input {
  margin-right: 4px;
}

#cfg-btn label {
  display: block;
  margin-bottom: 5px;
}

#cfg-btn label:last-child {
  margin-bottom: 0;
}

#cfg-btn > div {
  text-align: left;
}

#cfg-btn > span {
  display: inline-block;
  color: #E7E7E7;
  font-size: 14px;
  transform: rotate(-90deg);
  font-weight: bold;
  cursor: default;
}

#cfg-btn:hover div {
  display:block;
}

#cfg-btn div {
  color: #393836;
  display: none;
  margin-right: -5px;
  margin-top: 5px;
  background-color: rgb(231, 231, 231);
  padding: 5px;
  border-radius: 3px;
  border: 3px solid #D2D4D3;
}

.ban-tip-cnt {
  padding: 0 0 0 10px;
  margin: 2px 0 1px 0;
  text-align: left;
  list-style: disc;
}

.filename {
  font-size: 0.85em;
  color: #6f6f6f;
  margin-top: 2px;
  word-wrap: break-word;
}

#edit-form-cnt {
  position: absolute;
  background-color: rgb(231, 231, 231);
  padding: 5px;
  border-radius: 3px;
  border: 3px solid #D2D4D3;
}

#edit-form-cnt td,
#edit-form-cnt th {
  padding: 5px;
}

#edit-form-cnt tr {
  border-bottom: 1px solid #D2D4D3;
}

#edit-form-cnt tfoot tr {
  border-bottom: none;
}

#edit-form-cnt tfoot td {
  text-align: center;
}

#edit-form-cnt tbody th {
  border-right: 1px solid #D2D4D3;
  text-align: right;
}

#edit-form-cnt tbody td {
  text-align: left;
}

#edit-form-cnt th {
  font-weight: bold;
}

#edit-form-cnt #edit-len-field {
  width: 50px;
}

#edit-form-cnt .edit-presets-row {
  text-align: center;
  font-size: 80%;
}

#edit-form-cnt .edit-presets-lbl {
  margin-right: 3px;
}

#edit-form-cnt tfoot td {
  padding-top: 10px;
}

#edit-form-cnt input[type="text"] {
  padding: 2px;
  width: 175px;
}

kbd {
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #CCC, 0 0 0 2px #FFF inset;
  font-family: monospace;
  font-size: 11px;
  line-height: 1.4;
  padding: 0 5px;
  cursor: default;
  vertical-align: top;
}

.right {
  float: right;
}

#title {
  color: #dedede;
  font-size: 20px;
}

#menu {
  background-color: #d2d4d3;
  padding: 6px 5px 5px 5px;
}

#menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#appeal-stats #menu {
  text-align: center;
}

#appeal-stats a {
  margin-top: -3px;
  position: absolute;
  right: 0;
}

.button {
  cursor: pointer;
  background-color: #2B2B2B;
  border-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 4px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin: 0 2px;
  border: 0;

}

.button small {
  pointer-events: none;
}

button.button {
  font-size: 13px;
  font-family: 'Helvetica Neue', arial, sans-serif;
  line-height: 1.15em;
  height: 19px;
}

span.button:focus,
.button:hover {
  color: #fff;
  background-color: #000;
  border: 0;
}

.button-light {
  color: inherit;
  background-color: #e7e7e7;
}

.button-light:hover {
  background-color: #00A550;
}

.button-tree-wrap .button {
  font-size: 85%;
}

.button-tree-wrap {
  text-align: left;
  margin-left: 30px;
  white-space: nowrap;
}

.button-tree-wrap:before,
.post-rel-sub:before {
  border-bottom: 1px solid;
  border-left: 1px solid;
  content: " ";
  display: inline-block;
  height: 8px;
  margin-bottom: 3px;
  margin-right: 3px;
  width: 8px;
}

.options-set {
  margin-bottom: 15px;
}

.options-set li {
  line-height: 18px;
  margin-bottom: 3px;
}

.clickbox {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  text-align: center;
  width: 12px;
  vertical-align: bottom;
}

.checked,
.checked:hover {
  color: #fff;
}

.btn-other {
  background-color: #1d8dc4;
}

.btn-accept {
  background-color: #00A550;
}

.btn-deny {
  background-color: #C41E3A;
}

.str-accept {
  color: #00A550;
}

.str-other {
  color: #1d8dc4;
}

.str-xs {
  font-size: 0.85em;
}

.str-st {
  color: #a6a6a6;
}

.focused {
  outline: 3px solid #4ea4fa;
}

.panel-error {
  color: #C41E3A;
  text-align: center;
}

#search-field form {
  display: inline;
}

#search-field input {
  background-color: #E7E7E7;
  width: 130px;
  height: 18px;
  -webkit-appearance: none;
  border: 0;
  padding: 0 4px;
  vertical-align: top;
}

#appeals-table {
  width: 90%;
  margin-bottom: 100px;
}

.history-table {
  width: 100%;
  text-align: center;
}

.history-plea {
  width: 70%;
}

#stats-table {
  text-align: center;
}

.items-table {
  cursor: default;
  margin: auto;
  border-left: 1px solid #D2D4D3;
  border-right: 1px solid #D2D4D3;
  margin-top: 10px;
}

.items-table th {
  background-color: #D2D4D3;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.items-table td {
  border-left: 1px solid #D2D4D3;
  padding: 20px 10px;
  vertical-align: top;
}

.items-table tr {
  border-bottom: 1px solid #D2D4D3;
}

/* UI panels */
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.20);
  top: 0;
  left: 0;
}

.panel {
  position: absolute;
  top: 80px;
  padding: 10px;
  z-index: 10;
  border-radius: 5px 5px 5px 5px;
  background-color: #e7e7e7;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.06);
  width: 320px;
  left: 50%;
  margin-left: -170px;
}

.panel h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.panel h4 {
  font-size: 13px;
  margin: 10px 0 5px;
  font-weight: bold;
}

#ban-details h4 {
  text-align: center;
}

.panel-header .clickbox {
  position: absolute;
  right: 10px;
}

.panel-content,
.panel-footer {
  border-top: 2px solid rgba(45, 77, 59, 0.06);
}

.panel-controls {
  text-align: center;
}

.panel-content {
  margin-top: 10px;
  padding-top: 5px;
  overflow: auto;
  position: relative;
}

#panel-stack:focus,
.panel-content:focus {
  outline: none;
}

.no-scroll {
  overflow-y: hidden;
}

.panel-footer {
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
}

.panel .spinner {
  text-align: center;
}

.spinner:before {
  content: 'Loading…';
}

#details-panel {
  width: 1024px;
  left: 50%;
  margin-left: -522px;
}

#contact-panel {
  width: 600px;
  left: 50%;
  margin-left: -310px;
}

/* Contact form */
#contact-email:before {
  font-weight: bold;
  content: 'To: ';
}

.contact-label {
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
}

#contact-message {
  max-width: 595px;
  min-width: 595px;
  min-height: 200px;
  max-height: 200px;
}

#contact-message:focus {
  outline: none;
}

#contact-submit {
  display: inline-block;
  margin-top: 5px;
}

/* Columns */
.col-board,
.col-ctrl {
  text-align: center;
}

.col-board { width: 50px; min-width: 50px; }
.col-edit { width: 60px; }
.col-name { width: 100px; }
.col-date { width: 130px; }

.d-line {
  margin-top: 10px;
}

.pass-status {
  display: inline-block;
  border-radius: 8px;
  white-space: nowrap;
  color: #fff;
  padding: 2px 4px;
  line-height: 12px;
}

.pass-status-1 {
  background-color: #00A550;
}

.pass-status-2 {
  background-color: #1d8dc4;
}

.col-ctrl .button {
  display: inline-block;
  margin-bottom: 5px;
  line-height: 1.15;
}

.col-reason {
  width: 280px;
  text-align: center;
}

.col-post {
  width: 365px;
  min-width: 250px;
  max-width: 450px;
}

.col-plea {
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 1.4;
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
}

.col-length {
  width: 90px;
  min-width: 90px;
  text-align: center;
}

.col-ctrl {
  width: 95px;
  min-width: 95px;
}

.col-length div {
  margin-bottom: 6px;
}

/* --- */
.post-isop {
  color: #a6a6a6;
  float: right;
  font-size: 10px;
  margin-right: -7px;
  margin-top: -9px;
}

.post-no {
  color: #a6a6a6;
  float: right;
  font-size: 10px;
  font-weight: normal;
  margin-right: -7px;
  margin-top: -20px;
}

.post-no a {
  color: #0071a5;
  text-decoration: none;
  border: none;
}

.post-no a:hover {
  color: #1d8dc4;
}

.template-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.public-reason {
  max-height: 200px;
  overflow: hidden;
}

.private-reason {
  font-size: 0.85em;
  margin-top: 5px;
  color: #6f6f6f;
  font-style: italic;
  word-wrap: break-word;
}

.img-spoiler {
  opacity: 0.75;
}

.img-spoiler:hover {
  opacity: 1;
}

.user-name {
  color: #00A550;
  font-weight: bold;
  display: inline-block;
  word-break: break-all;
}

.user-tripcode {
  font-weight: normal;
}

.appeal-denied,
.ban-global,
.appeal-link,
.ban-warn,
.unbanned-by,
.user-pass {
  font-size: 0.85em;
}

.user-appealcount {
  margin-top: 16px;
}

.match-cnt span {
  margin-right: 4px;
  background-color: #d2d4d3;
  border-radius: 8px;
  padding: 1px 4px;
  font-size: 10px;
  color: #000;
}

.user-net-cnt {
  font-size: 0.85em;
  margin-top: 4px;
  max-width: 350px;
  word-wrap: break-word;
}

.user-net-cnt > div {
  margin-top: 4px;
}

.user-net-cnt > div:before {
  content: '•';
  margin-right: 4px;
  opacity: 0.5;
}

.user-pass {
  margin-top: 3px;
}

.user-host {
  display: inline-block;
}

.user-country {
  margin-left: 4px;
  margin-right: 4px;
  color: #6f6f6f;
}

.ban-comment .quote {
  color: #789922;
}

.ban-board,
.user-pass,
.val-changed {
  font-weight: bold;
}

.val-deny {
  color: #C41E3A;
}

.ban-post {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #D2D4D3;
}

.post-subject {
  font-size: 85%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: '(…)';
  white-space: nowrap;
  color: #0071a5;
}

.ban-thumb {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: 125px;
}

.ban-comment {
  line-height: 1.4;
  margin-top: 5px;
}

.rep-cat {
  font-size: 11px;
  color: #6f6f6f;
  font-weight: bold;
  margin-bottom: 4px;
}

.processing {
  -moz-animation: blink 0.5s linear infinite alternate;
  -webkit-animation: blink 0.5s linear infinite alternate;
  animation: blink 0.5s linear infinite alternate;
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

.disabled {
  opacity: 0.5;
}

.exif {
  display: none;
}

.edit-link {
  display: inline-block;
  margin-top: 6px;
  font-size: 0.85em;
}

/* ref previews */
.ref-preview {
  position: absolute;
  max-width: 460px;
  background-color: #E7E7E7;
  z-index: 1;
  padding: 4px 4px;
  border-radius: 3px;
  box-shadow: 0 0 0 3px #d2d4d3, 0 0 12px rgba(0, 0, 0, 0.35);
}

@media all and (max-device-width: 640px) {
  .ref-preview {
    display: none;
  }
}

.sxt {
  color: #6f6f6f;
  font-size: 0.85em;
}

.dark-theme .ref-preview {
  background-color: #2b2b2b;
  box-shadow: 0 0 0 3px #1c1c1c, 0 0 12px rgba(0, 0, 0, 0.5);
}

.ref-ago {
  font-size: 0.85em;
  color: #6f6f6f;
  font-style: italic;
  word-wrap: break-word;
}

.ref-preview .post-content {
  height: auto;
  max-height: 180px;
}

.ref-pub-reason {
  margin-top: 6px;
  padding-top: 5px;
  border-top: 1px solid #D2D4D3;
  font-weight: bold;
  font-size: 12px;
  max-height: 200px;
  overflow: hidden;
}

.ref-user:not(:first-child) {
  margin-top: 8px;
  padding-top: 5px;
  border-top: 1px solid #D2D4D3;
}

.ref-preview .ban-post:empty {
  display: none;
}

.ref-pattern {
  font-size: 12px;
  font-family: monospace;
  background-color: #f7f7f7;
  padding: 2px;
  border: 1px solid #d2d4d3;
  border-radius: 4px;
  word-wrap: break-word;
}

.ref-description {
  padding: 0 2px;
  margin-bottom: 4px;
  font-weight: bold;
}

/* Tooltips */ 
#tooltip {
  position: absolute;
  background-color: #181f24;
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 8px 4px 8px;
  z-index: 100000;
  word-wrap: break-word;
  white-space: pre-line;
  max-width: 400px;
  color: #dedede;
  text-align: center;
}

.tip-top-left:before,
.tip-top-right:before,
.tip-top:before {
  content:"";
  display:block;
  width:0;
  height:0;
  position:absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #181f24;
  margin-left: -4px;
  bottom: -4px;
}

.tip-top:before {
  left: 50%;
}

.tip-top-right:before {
  left: 2px;
  margin-left: 0;
}

.tip-top-left:before {
  right: 2px;
}

/* Dark Theme */
.dark-theme .button-light.active,
.dark-theme .button:hover {
  background-color: #bbb;
  color: #000;
}

.dark-theme .post-link:visited:not(:hover) {
  background-color: #2b2b2b;
}

.dark-theme body,
.dark-theme .button {
  background-color: #2b2b2b;
  color: #999;
}

.dark-theme .row-sep hr,
.dark-theme .res-cnt {
  border-bottom: 1px solid #393836;
}

.dark-theme #results-ctrl {
  border-top: 1px solid #393836;
  border-bottom: 1px solid #393836;
}

.dark-theme #search-fields input,
.dark-theme .ban-field,
.dark-theme #search-fields select {
  background-color: #393836;
  border: 0;
  color: #999;
}

.dark-theme header,
.dark-theme #menu,
.dark-theme .post-meta,
.dark-theme .post-controls {
  background-color: #1c1c1c;
}

.dark-theme .clickbox {
  background-color: #000;
}

.dark-theme .items-table {
  border-left: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
}

.dark-theme .items-table th {
  background-color: #1c1c1c;
}

.dark-theme .items-table tr {
  border-bottom: 1px solid #1c1c1c;
}

.dark-theme .items-table td {
  border-left: 1px solid #1c1c1c;
}

.dark-theme article {
  box-shadow: 0 0 0 3px #1c1c1c;
}

.dark-theme .ban-post {
  border-top: 1px solid #1c1c1c;
}

.dark-theme #search-field input {
  background-color: #2b2b2b;
  color: #999;
}

.dark-theme .btn-deny {
  background-color: #C41E3A;
  color: #fff;
}

.dark-theme .btn-accept {
  background-color: #00A550;
  color: #fff;
}

.dark-theme .btn-accept,
.dark-theme .btn-deny,
.dark-theme .btn-other {
  filter: brightness(80%);
}

.dark-theme .btn-other {
  background-color: #1d8dc4;
  color: #fff;
}

.dark-theme #ban-form-cnt {
  background-color: #1c1c1c;
  border: 3px solid #393836;
}

.dark-theme .backdrop {
  background-color: rgba(0, 0, 0, 0.50);
}

.dark-theme .private-reason,
.dark-theme .user-country {
  color: unset;
}

.dark-theme #edit-form-cnt {
  background-color: #2b2b2b;
  border: 3px solid #1c1c1c;
}

.dark-theme #edit-form-cnt tr {
  border-bottom: 1px solid #1c1c1c;
}

.dark-theme #edit-form-cnt tfoot tr {
  border-bottom: none;
}

.dark-theme #edit-form-cnt tbody th {
  border-right: 1px solid #1c1c1c;
}

.dark-theme .panel {
  background-color: #2b2b2b;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.06);
}

.dark-theme .panel-content,
.dark-theme .panel-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.25)
}

.dark-theme .post-subject {
  color: #81a6b7;
}

.dark-theme a,
.dark-theme a:hover,
.dark-theme .post-subject {
  color: #5896b3;
}

.dark-theme a {
  border-bottom: 1px solid #5896b3;
}

.dark-theme a:hover {
  border-bottom: 1px solid #adcad9;
}

.dark-theme .post-no a {
  border: 0;
}
